<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp | Login </title>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link 
href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet"/>
    <link href="css/materialize.min.css" rel="stylesheet"/>
    <link href="tabs.css" rel="stylesheet"/>
    <link href="inputs-color.css" rel="stylesheet"/>
    <link href="newChannelForm.css" rel="stylesheet"/>
  </head>
  <body>
    <header>
    <nav>
      <div>
        <h2>SUMO</h2>
        <a href="/" class="home"><i class="material-icons">home</i></a>
      </div>
      </nav>
    </header>
    <section>
      <div class="forgotPass"><a href="/resetpassword">Forgot password</a></div>
      
      <!--error boards-->
      <div class="<%=loginErrors.emailError.isAvailable || loginErrors.passwordError.isAvailable  ? 'display warning-board':'none'%>">
          <p class="<%=loginErrors.emailError.isAvailable || loginErrors.passwordError.isAvailable  ? 'display warning-board':'none'%>">Invalid phone number or password</p>
      </div>  
          <div class="<%=success ? 'warning-board success display':'none' %>">
        <% if(success) { %>
          <p>you can now login!!!</p>
          <%}%>
      </div>  
      <div class="<%=other.isSet ? 'other':'noother'%>">
        <%=other.message%></div>        
      <!--form body-->
      <div class="form-body z-depth-2">
    <div class="row col s12 m12 l12">
    <div class="col s12 m12 l12">
      <ul class="tabs">
        <li class="tab col s6 m6 l6 "><a href="#login" class="<%= success === true || loginErrors.mode === true || toLogin ? 'active': ''%>">login</a></li>
        <li class="tab col s6 m6 l6"><a href="#signup" class="<%= success === true || loginErrors.mode === true ? '' : 'active'%>">Signup</a></li>
      </ul>
    </div>
    <div id="signup" class="col s12">
      <form action='/createUserChannel' method="post" autocomplete="off">
            <input type="hidden" value="<%=csrfToken%>" name="_csrf">
            <div class="input wrapper input-field">
            <i class="material-icons prefix">account_circle</i>
              <label for="name">Name</label>
              <% const isNameError = errors.nameError.isAvailable %>
              <input id="name" onfocus="changeColor(this)" value="<%= isNameError || isErr ? errors.nameError.value  : '' %>" maxlength="30" name="name" type="text"  style="border-bottom-color:<%= isNameError ? 'red' : '' %>;color:<%= isNameError  ? 'red' : '' %>" autocomplete="off" >
              <% if(errors.nameError.isAvailable) { %>
                <div class="warn" style="display:<%= isNameError? 'block' : 'none' %>"><small style="color:<%= isNameError ? 'red' : '' %>"><%=errors.nameError.message%></small></div>
                <%}%>
            </div> 

            <div class="input wrapper input-field">
               <i class="material-icons prefix">email</i>
               <label for="email">Email</label>
               <% const isEmailError = errors.emailError.isAvailable %>
              <input id="email" autocomplete="off" onfocus="changeColor(this)" value="<%= isEmailError || isErr? errors.emailError.value  : '' %>" name="email" type="email" style="border-bottom-color:<%= isEmailError ? 'red' : '' %>;color:<%= isEmailError  ? 'red' : '' %>"> 
              <div class="warn" style="display:<%= isEmailError ? 'block' : 'none' %>"><small style="color:<%= isEmailError ? 'red' : '' %>"><%=errors.emailError.message%></small></div>
            </div>

              <div class="input wrapper input-field">
               <i class="material-icons prefix">phone</i>
               <label for="phone">phone</label>
              <input id="phone" autocomplete="off" name="phone" type="number" style="border-bottom-color:<%= errors.phoneError.isAvailable  ? 'red' : '' %>">
              <div class="warn" style="display:<%= errors.phoneError.isAvailable ? 'block' : 'none' %>"><small style="color:<%= errors.phoneError.isAvailable ? 'red' : '' %>"><%=errors.phoneError.message%></small></div>
             </div>

             <div class="input wrapper input-field">
               <i class="material-icons prefix">lock</i>
              <label for="pwd">password</label> 
              <% const isPasswordError = errors.passwordError.isAvailable %>
               <input id="pwd" onfocus="changeColor(this)" autocomplete="off" value="<%= isPasswordError ? errors.passwordError.value  : '' %>" name="pwd" type="password" required style="border-bottom-color:<%= isPasswordError  ? 'red' : '' %>;color:<%= isPasswordError  ? 'red' : '' %>"> 
               <div class="warn" style="display:<%= isPasswordError ? 'block' : 'none' %>"><small style="color:<%= isPasswordError ? 'red' : '' %>"><%=errors.passwordError.message%></small></div>
              </div>

              <div class="input wrapper input-field">
              <i class="material-icons prefix">enhanced_encryption</i>
               <label for="cpwd">comfirm password</label> 
                <input id="cpwd" autocomplete="off" name="cpwd" type="password" required>
              </div>

              <div class="button wrap"><button type="submit" class="z-depth-2">Submit</button></div>
          </form>
      </div>
    <div id="login" class="col s12">
      <form action='/loginuser' autocomplete="off" method="post" autocomplete="off">
        <input type="hidden" value="<%=csrfToken%>" name="_csrf">
            <div class="input wrapper input-field">
               <i class="material-icons prefix">mail</i>
               <label for="mails">Email</label> 
              <input id="mails" autocomplete="off" name="email" type="email" required> </div>
             <div class="input wrapper input-field">
              <i class="material-icons prefix">lock</i>
              <label for="pwds">password</label> 
               <input id="pwds" autocomplete="off" name="pwd" type="password" required> </div>
              <div class="button wrap"><button type="submit">Submit</button></div>
          </form>
      </div>
  </div>
      </div>
    </section>
    <script src="js/materialize.min.js"></script>
    <script src="newChannelForm.js"></script>
    <script>
   const changeColor = (input) =>{
     input.style.color = ''
   }
    </script>
      <script src="/effect.js" type="text/javascript"></script>
  </body>
  </html>