<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp | Login </title>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link 
href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet"/>
    <link href="css/materialize.min.css" rel="stylesheet"/>
    <link href="tabs.css" rel="stylesheet"/>
    <link href="inputs-color.css" rel="stylesheet"/>
    <link href="newChannelForm.css" rel="stylesheet"/>
  </head>
  <body>
    <header>
    <nav>
      <div>
        <h2>SUMO</h2>
        <a href="/" class="home"><i class="material-icons">home</i></a>
      </div>
      </nav>
    </header>
    <section>
      <div class="forgotPass"><a href="/resetpassword">Forgot password</a></div>
      
      <!--error boards-->
      <div class="<%=loginErrors.emailError.isAvailable || loginErrors.passwordError.isAvailable  ? 'display warning-board':'none'%>">
          <p class="<%=loginErrors.emailError.isAvailable || loginErrors.passwordError.isAvailable  ? 'display warning-board':'none'%>">Invalid phone number or password</p>
      </div>  
          <div class="<%=success ? 'warning-board success display':'none' %>">
        <% if(success) { %>
          <p>you can now login!!!</p>
          <%}%>
      </div>          
      <!--form body-->
      <div class="form-body z-depth-2">
    <div class="row">
    <div class="col s12 m12 l12">
      <ul class="tabs">
        <li class="tab col s3 m6 "><a href="#login" class="<%= success === true || loginErrors.mode === true || toLogin ? 'active': ''%>">login</a></li>
        <li class="tab col s3 m6 "><a href="#signup" class="<%= success === true || loginErrors.mode === true ? '' : 'active'%>">Signup</a></li>
      </ul>
    </div>
    <div id="signup" class="col s12">
      <form action='/createUserChannel' method="post">
            <input type="hidden" value="<%=csrfToken%>" name="_csrf">
            <div class="input wrapper input-field">
            <i class="material-icons prefix">account_circle</i>
              <label for="name">Name</label> 
              <input id="name" maxlength="30" name="name" type="text"  style="border-bottom-color:<%= errors.nameError.isAvailable ? 'red' : '' %>" >
              <% if(errors.nameError.isAvailable) { %>
                <div class="warn" style="display:<%= errors.nameError.isAvailable? 'block' : 'none' %>"><small style="color:<%= errors.nameError.isAvailable ? 'red' : '' %>"><%=errors.nameError.message%></small></div>
                <%}%>
            </div> 

            <div class="input wrapper input-field">
               <i class="material-icons prefix">email</i>
               <label for="email">Email</label>
              <input id="email" name="email" type="email" style="border-bottom-color:<%= errors.emailError.isAvailable  ? 'red' : '' %>"> 
              <div class="warn" style="display:<%= errors.emailError.isAvailable ? 'block' : 'none' %>"><small style="color:<%= errors.emailError.isAvailable ? 'red' : '' %>"><%=errors.emailError.message%></small></div>
            </div>

              <div class="input wrapper input-field">
               <i class="material-icons prefix">phone</i>
               <label for="phone">phone</label>
              <input id="phone" name="phone" type="number" style="border-bottom-color:<%= errors.phoneError.isAvailable  ? 'red' : '' %>">
              <div class="warn" style="display:<%= errors.phoneError.isAvailable ? 'block' : 'none' %>"><small style="color:<%= errors.phoneError.isAvailable ? 'red' : '' %>"><%=errors.phoneError.message%></small></div>
             </div>

             <div class="input wrapper input-field">
               <i class="material-icons prefix">lock</i>
              <label for="pwd">password</label> 
               <input id="pwd" name="pwd" type="password" required style="border-bottom-color:<%= errors.passwordError.isAvailable  ? 'red' : '' %>"> 
               <div class="warn" style="display:<%= errors.passwordError.isAvailable ? 'block' : 'none' %>"><small style="color:<%= errors.passwordError.isAvailable ? 'red' : '' %>"><%=errors.passwordError.message%></small></div>
              </div>

              <div class="input wrapper input-field">
              <i class="material-icons prefix">enhanced_encryption</i>
               <label for="cpwd">comfirm password</label> 
                <input id="cpwd" name="cpwd" type="password" required>
              </div>

              <div class="button wrap"><button type="submit" class="z-depth-2">Submit</button></div>
          </form>
      </div>
    <div id="login" class="col s12">
      <form action='/loginuser' method="post" autocomplete="off">
        <input type="hidden" value="<%=csrfToken%>" name="_csrf">
            <div class="input wrapper input-field">
               <i class="material-icons prefix">mail</i>
               <label for="mails">Email</label> 
              <input id="mails" name="email" type="email" required> </div>
             <div class="input wrapper input-field">
              <i class="material-icons prefix">lock</i>
              <label for="pwds">password</label> 
               <input id="pwds" name="pwd" type="password" required> </div>
              <div class="button wrap"><button type="submit">Submit</button></div>
          </form>
      </div>
  </div>
      </div>
    </section>
    <script src="js/materialize.min.js"></script>
    <script src="newChannelForm.js"></script>
  </body></html>