<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>chat room</title>
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link href="/css/materialize.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet" />
  <link href="/inputs-color.css" rel="stylesheet">
  <link href="/emoji.css" rel="stylesheet" type="text/css" />
  <link href="/chat.css" rel="stylesheet" type="text/css">
  <% if(anonymous) {%>
    <link href="/dark.css" rel="stylesheet" type="text/css" />
     <%}%>

</head>

<body>
  <section onscroll="Scroll()">
    <input type="hidden" value="<%= fid%>" id="friendId">
    <input type="hidden" value="<%= uid%>" id="uid">
    <header>
      <nav>
        <div class="navs">
        <div id="info">
          <div class="img-title-cont">
          <div class="img-cont">
          <img src="<%=img%>"/>
          </div>
          <div id="name">
          <p><%=friend.split(' ')[0]%>
            <div id="details">
              <small id="status"><%=status%></small>
              <small id="typing">typing...</small>
            </div>
          </p>
        </div></div>
          <button class='dropdown-trigger btn'  data-target='dropdown1'><i class="material-icons">more_vert</i></button>
          <ul id='dropdown1' class='dropdown-content'>
            <li><a href="/"><i class="material-icons">home</i>home</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="/userchannel/<%=uid%>"><i class="material-icons">rss_feed</i>feed</a></li>
          </ul>
    </div>
      </div>
      </nav>
    </header>
<div class="loader">Loading...</div>
    <div class="chats">
    </div>

    <div class="input">
      <div class="ctrl">
        <button class="openEmoji" type="button"><i class="material-icons">insert_emoticon</i></button>
        <input type="hidden" value="<%=csrfToken%>" name="_csrf">
        <input name="receiver" type="hidden" value="<%= fid %>">
        <textarea id="msg" class="materialize-textarea" name="message" placeholder="Enter message"></textarea>
        <!-- replace with a vector icon later -->
        <button type="submit" class="send"><i class="material-icons">send</i></button>
      </div>
      <div class="emoji-container">
        <%- include('emoji.ejs')%>
      </div>
    </div>
  </section>
  <script>
    const chatWindow = document.querySelector('section')
    chatWindow.scrollTop = chatWindow.scrollHeight
  </script>
  <script src="/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
      const menu = document.querySelectorAll('.dropdown-trigger');
    const drop = M.Dropdown.init(menu);
    let page = 1
    let height = 0
    document.addEventListener("DOMContentLoaded",()=> {
    loadLatestChats()
  });
  </script>
  <%- include('chatScript.ejs') %>
  <script src="/effect.js" type="text/javascript"></script>
</body>

</html>