<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>chat room</title>
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#1a237e">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#1a237e">
  <link href="/css/materialize.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet" />
  <link href="/inputs-color.css" rel="stylesheet">
  <link href="/emoji.css" rel="stylesheet" type="text/css" />
  <link href="/chat.css" rel="stylesheet" type="text/css">
  <% if(anonymous) {%>
    <link href="/dark.css" rel="stylesheet" type="text/css" />
     <%}%>
    </head>
<body class="z-depth-5 chatPage">
  <%- include('viewPic.ejs',{img:img}) %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <section>
    <input type="hidden" value="<%= fid%>" id="friendId">
    <input type="hidden" value="<%= uid%>" id="uid">
      <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>NOTICE</h4>
      <p>Are you sure want to remove this chat ?</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">NO</a>
      <a href="/removeachat?friend=<%=fid%>" class="modal-close waves-effect waves-green btn-flat">YES</a>
    </div>
  </div>
    <header class="z-depth-3">
      <div class="nav chatpage ">
        <div class="nav1">
          <div class="img-cont">
            <img onclick="viewImage('<%=img%>')" src="<%=thumbnail%>" class="friendPhoto"/>
            </div>
            <div id="user-details">
              <p><%-friend%>
                <div id="details">
                  <small id="status"><%=status%></small>
                  <small id="typing">typing...</small>
                </div>
              </p>
            </div>
        </div>
        <div class="nav2">
          <ul>
          <li class="menu li" ><a href = '/channel'><i class="material-icons">menu</i><p>Menu</p></a></li>
            <li class='dropdown-trigger'  data-target='dropdown1'><i class="material-icons">settings</i><p>Settings</p></li>
          </ul>
          <ul id='dropdown1' class='dropdown-content'>
            <li ><a href="#"data-target="modal1" class="btn modal-trigger"><i class="material-icons">delete</i>remove user</a></li>
          </ul>
        </div>
      </div>
    </header>
    
    <!--<header>
      <nav>
        <div class="img-title-cont">
          <div class="img-cont">
          <img onclick="viewImage()" src="<%=img%>"/>
          </div>
          <div id="name">
          <p><%-friend%>
            <div id="details">
              <small id="status"><%=status%></small>
              <small id="typing">typing...</small>
            </div>
          </p>
        </div></div>
      <button class='dropdown-trigger btn'  data-target='dropdown1'><i class="material-icons">more_vert</i></button>
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="/"><i class="material-icons">home</i>home</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="/userchannel/<%=uid%>"><i class="material-icons">rss_feed</i>feed</a></li>
      </ul>
      </nav>
    </header> -->
<div class="second-section">
<div class="loader">Loading...</div>
    <div class="chats">
    </div>

    <div class="input">
      <div class="preview"></div>
      <div class="ctrl">
        <div class="fileCont">
          <button id="file-open">
            <i class="material-icons">collections</i>
          </button>
        </div>
        <button class="openEmoji" type="button">
          <i class="material-icons">insert_emoticon</i>
        </button>
        <input type="hidden" value="<%=csrfToken%>" name="_csrf">
        <input name="receiver" type="hidden" value="<%= fid %>">
        <textarea id="msg" autocomplete="off" class="" name="message" placeholder="Message"></textarea>
        <!-- replace with a vector icon later -->
        <button type="submit" class="send"><i class="material-icons">send</i></button>
        <input type="file" id="file-input" accept="image/*"/>
      </div>
      <div class="emoji-container">
        <%- include('emoji.ejs')%>
      </div>
    </div>
    </div>
  </section>
  <script>
    const chatWindow = document.querySelector('.chats')
    const inputWindow = document.querySelector('.input')
    chatWindow.scrollTop = chatWindow.scrollHeight;
    const showSmiley = document.querySelector('.openEmoji');
   const emocont =  document.querySelector('.emoticons');

      showSmiley.addEventListener('click',()=>{
        if($('.emoticons').hasClass('showEmoji')){
          $('.emoji').html('');
          emocont.classList.remove('showEmoji')
          $('.input').css('height','30vh');
        $('.chats').css('height','calc(70vh - 100px)');
          return
        }
        reRenderList();
        document.querySelector('#face').classList.add('isActive')
        emocont.classList.add('showEmoji');
        $('.input').css('height','62vh');
        $('.chats').css('height','calc(38vh - 101px)');
      })
  </script>
  <script src="/js/materialize.min.js"></script>
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.1.0/validator.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
      const menu = document.querySelectorAll('.dropdown-trigger');
    const drop = M.Dropdown.init(menu);
    let page = 1
    let height = 0
    document.addEventListener("DOMContentLoaded",()=> {
    const elems = document.querySelectorAll('.modal');
    const instances = M.Modal.init(elems);
 
    loadLatestChats();

    $('.chats').on('scroll',()=>{Scroll()})
  });
  </script>
  <%- include('chatScript.ejs') %>
  <script src="/effect.js" type="text/javascript"></script>
  <script>
    const sendImage = (file) =>{
      const url = URL.createObjectURL(file)
      $('.preview').append(
      `<div class="preview-cont">
        <button class="preview-close"> 
          <i class="material-icons">clear</i> </button>
      <img src="${url}" class="img-preview" />
      </div>`
    );
    chatWindow.scrollTop = 0
    $('.preview-close').on('click',()=>{
  $('.preview-cont').remove();
})
    }
    $('#file-open ').on('click',()=>{
      $('.preview').html(' ')
      $('input[type="file"]').trigger("click")
    })
    $('input[type="file"]').on('change',(e)=>{
  const input = document.querySelector('input[type="file"]')
  sendImage(input.files[0]);
  chatWindow.scrollTop = chatWindow.scrollHeight
});

  </script>
</body>

</html>