<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>chat room</title>
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link href="/css/materialize.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet" />
  <link href="/inputs-color.css" rel="stylesheet">
  <link href="/emoji.css" rel="stylesheet" type="text/css" />
  <link href="/chat.css" rel="stylesheet" type="text/css">
  <% if(anonymous) {%>
    <link href="/dark.css" rel="stylesheet" type="text/css" />
     <%}%>
    </head>
<body>
  <%- include('viewPic.ejs',{img:img}) %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <section>
    <input type="hidden" value="<%= fid%>" id="friendId">
    <input type="hidden" value="<%= uid%>" id="uid">
    <header>
      <nav>
        <div class="img-title-cont">
          <div class="img-cont">
          <img onclick="viewImage()" src="<%=img%>"/>
          </div>
          <div id="name">
          <p><%-friend%>
            <div id="details">
              <small id="status"><%=status%></small>
              <small id="typing">typing...</small>
            </div>
          </p>
        </div></div>
      <button class='dropdown-trigger btn'  data-target='dropdown1'><i class="material-icons">more_vert</i></button>
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="/"><i class="material-icons">home</i>home</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="/userchannel/<%=uid%>"><i class="material-icons">rss_feed</i>feed</a></li>
      </ul>
      </nav>
    </header>
<div class="loader">Loading...</div>
    <div class="chats">
    </div>

    <div class="input">
      <div class="preview"></div>
      <div class="ctrl">
        <div class="fileCont">
          <button id="file-open">
            <i class="material-icons">collections</i>
          </button>
        </div>
        <button class="openEmoji" type="button">
          <i class="material-icons">insert_emoticon</i>
        </button>
        <input type="hidden" value="<%=csrfToken%>" name="_csrf">
        <input name="receiver" type="hidden" value="<%= fid %>">
        <textarea id="msg" class="materialize-textarea" name="message" placeholder="Enter message"></textarea>
        <!-- replace with a vector icon later -->
        <button type="submit" class="send"><i class="material-icons">send</i></button>
        <input type="file" id="file-input" accept="image/*"/>
      </div>
      <div class="emoji-container">
        <%- include('emoji.ejs')%>
      </div>
    </div>
  </section>
  <script>
    const chatWindow = document.querySelector('section')
    chatWindow.scrollTop = chatWindow.scrollHeight;
    const showSmiley = document.querySelector('.openEmoji');
      showSmiley.addEventListener('click',()=>{
        reRenderList()
        document.querySelector('.emoticons').style.display = 'block';
        document.querySelector('#face').classList.add('isActive')
      })
  </script>
  <script src="/js/materialize.min.js"></script>
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.1.0/validator.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
      const menu = document.querySelectorAll('.dropdown-trigger');
    const drop = M.Dropdown.init(menu);
    let page = 1
    let height = 0
    document.addEventListener("DOMContentLoaded",()=> {
    loadLatestChats();

    $('section').on('scroll',()=>{Scroll()})
  });
  </script>
  <%- include('chatScript.ejs') %>
  <script src="/effect.js" type="text/javascript"></script>
  <script>
    const sendImage = (file) =>{
      const url = URL.createObjectURL(file)
      $('.preview').append(
      `<div class="preview-cont">
        <button class="preview-close"> 
          <i class="material-icons">clear</i> </button>
      <img src="${url}" class="img-preview" />
      </div>`
    )
    $('.preview-close').on('click',()=>{
  $('.preview-cont').remove();
})
    }
    $('#file-open ').on('click',()=>{
      $('.preview').html(' ')
      $('input[type="file"]').trigger("click")
    })
    $('input[type="file"]').on('change',(e)=>{
  const input = document.querySelector('input[type="file"]')
  sendImage(input.files[0]);
  chatWindow.scrollTop = chatWindow.scrollHeight
});

  </script>
</body>

</html>