<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%= name %>'s feed </title>
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="/inputs-color.css" rel="stylesheet" type="text/css" />
  <link href="/c-user.css" rel="stylesheet" type="text/css" />
  <link href="/sidenav.css" rel="stylesheet" />
  <% if(anonymous) {%>
    <link href="/dark.css" rel="stylesheet" type="text/css" />
     <%}%>

</head>

<body class="feedBody">
  <input type="hidden" id="uid" value="<%= uid %>">
  <input type="hidden" value="<%=csrfToken%>" name="_csrf">
  <!--side nav codes-->
  <%- include('sideNav.ejs',{
  onlineUsers:onlineUsers,
  name:name,
  email:email,
  uid:uid
}) %>
  <!--end of side nav import-->
  <!--loader-->
  <div class="spinner-cont">
    <div class="preloader-wrapper small active">
      <div class="spinner-layer spinner-green-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>

  <!--code for header-->
  <header>
    <nav>
      <div>
        <h2>Channel</h2>
        <div class="nav-options">
          <a id="showdd" class='dropdown-trigger btn' href='#' data-target='dropdown1'><i
              class="material-icons">dehaze</i></a>
          <ul id='dropdown1' class='dropdown-content'>
            <li><a href="/"><i class="material-icons">home</i>home</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="/profile/<%=uid%>"><i class="material-icons">account_circle</i>profile</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">chat</i>chats</a>
            </li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="/logout"><i class="material-icons">keyboard_tabs</i>logout</a></li>
          </ul>
          <div id="largeNav">
            <a href="/"><i class="material-icons">home</i></a>
            <a href="/profile/<%=uid%>"><i class="material-icons">account_circle</i></a>
            <a href="/logout"><i class="material-icons">keyboard_tabs</i></a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="inform" style="display:<%=inform.status?'flex':'none'%>">
    <p><%=inform.msg%></p>
    <span>hide</span>
  </div>
  <section class="desktop">

    <div class="window">
      <div class="mychats">
        <div class="profile-view">
          <div>
          <img src="<%= img %>" 
          class="circle" height="50px" width="50px">
          <div>
            <a href="#name"><span class="white-text name"><%=name%></span></a> <br>
          <a href="#email"><span class="white-text email"><%=email%></span></a>
        </div>
        </div>
      </div>
        <div class="input-field join">
          <div class="controls">
            <button class="s">Chats</button>
            <button>Requests <span class="circle-badge smally">0</span></button>
            <button class="s">Search</button>
          </div>
          <div class="addById">
          <input type="text" id="chatStringLarge" placeholder="enter chat id" class="chatString"/>
          <div class="join-btn"><button id="startchatlarge">add</button>
            <small class="errdisplay"></small>
          </div>
        </div>
        
        <div class="searchcontrols">
          <input type="text" placeholder="enter name" id="searchStringLarge"/>
          <div class="join-btn">
            <button id="startsearch">search</button>
            <small class="errdisplay"></small>
        </div>
        </div>
        
        </div>
        <ul>
          <div class="requests">
          <div><h2>Requests</h2></div>
          <div class="requests-loader">
            <%- include('loader.ejs') %>
            </div>
       <ul class="palsRequest collection">
      </ul>
        </div>
        <ul class="search collection" style="display:none">
          <div><h2>Result</h2></div> 
          <div class="search-loader">
            <%- include('loader.ejs') %>
            </div>
          <div class="searchResult large">
         
          </div>
        </ul>
          <div class="chats current">
            <div>
              <h2>Chats</h2>
            </div>
            <div class="chats-loader">
              <%- include('loader.ejs') %>
              </div>
            <ul class="userChats collection" id="userChatsLarge">
              <% if(onlineUsers.length < 0) { %>
              <div class="new newchatwindow">
                <h3>No chats!!!</h3>
              </div>
              <% } %> </ul> 
            <div class="pages big">
              <ul>         

            </ul></div>
    </div>
  </ul>
</div>
        <div class="feeds">
         <h2>Anonymous Feeds</h2>
         <div id="feeds">
           <% if(false) {%>
                <div class="new newfeedwindow">
                  <h3>No feeds yet, New headover to your
                    profile grab your link and start sharing
                  </h3>
                </div>
                <% } %>
            </div>
          </div></div>
  </section>
  <script>
    const feedWindow = document.querySelector('.feeds')
    feedWindow.scrollTop = feedWindow.scrollHeight</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <%- include('feedScript.ejs') %>
  <%- include('chatHandler.ejs') %>
  <script>  LoadRequests();
    loadChats();
    loadFeed()
</script>
<script src="/effect.js" type="text/javascript"></script>
</body>

</html>