<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="/tabs.css" type="text/css" rel="stylesheet"/>
    <link href="/inputs-color.css" type="text/css" rel="stylesheet"/>
    <link href="/materialize-override.css" type="text/css" rel="stylesheet"/>
    <link href="/sumoProfile.css" type="text/css" rel="stylesheet"/>
    <% if(anonymous) {%>
      <link href="/dark.css" rel="stylesheet" type="text/css" />
       <%}%>
  </head>
  <body class="body">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%- include('upload-loader.ejs')%>
    <div id="fb-root"></div>
<div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  
    <input type="hidden" id="uid" value="<%=user._id%>">
  <!--modal with footer-->
  <div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Note</h4>
      <p>you are about switching to anonymous mode as such the following changes will take effect:</p><br/>
      <ul>
        <li> - Open chats won't be accessible</li> <br/>
        <li> - you will apppear offline to your open chats</li> <br/>
        <li> - you will have to re-add whoever you want to chat with</li>
      </ul>
      <br/>
      <small>ensure you have your anonymous name set or the default will be used</small> <br/>
      <small>chat responsibly and ensure you don't reveal your identity by accident</small>
    </div>
    <div class="modal-footer">
      <button class="modal-close waves-effect waves-green btn-flat" id="decline"> Decline</button>
      <button class="modal-close waves-effect waves-green btn-flat" id="continue">Continue</button>
    </div>
  </div>
  <!-- end of modal with footer-->
  
 <input type="hidden" id ="chatstring" value="<%=user.chatShare%>">
 <input type="hidden" id ="feedstring" value="<%=user.share%>"> 

  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Confirmation!!!</h4>
      <p>Are you sure you want to remove this chat?</p>
    </div>
    <div class="modal-footer">
      <button  class="modal-close waves-effect waves-green btn-flat">No</button>
      <button id="yes" class="modal-close waves-effect waves-green btn-flat">Yes</button>
      <a href="/deleteuseraccount/<%=user._id%>" id="delete" class="modal-close waves-effect waves-green btn-flat">Delete</a>
    </div>
  </div>
  <header>
          <nav>
            <div class="my-title">
              <img src="/ms-icon-144x144.png" alt="app logo"/>
            </div>
            <a id="showdd" class='dropdown-trigger btn' href='#' data-target='dropdown1'><i class="material-icons">dehaze</i></a>
            <ul id='dropdown1' class='dropdown-content'>
          
              <li><a href="/"><i class="material-icons">home</i>home</a>
              </li>
              <li class="divider" tabindex="-1"></li>
              <li><a href="/userchannel/<%=user._id%>"><i class="material-icons">rss_feed</i>feeds</a></li>
              <li class="divider" tabindex="-1"></li>
              <li><a href="/logout"><i class="material-icons">keyboard_tabs</i>logout</a></li>
            </ul>
             <div class="nav-options">
               <a href="/">
                <div>
                <i class="material-icons">home</i>
                <div class="icon-desc">home</div>
                </div>
                </a>
              </a>
               <a href="/userchannel/<%=user._id%>">
                <div>
                <i class="material-icons">rss_feed</i>
                <div class="icon-desc">feeds</div>
                </div>
              </a>
               <a href="/logout">
                <div>
                <i class="material-icons">keyboard_tabs</i>
                <div class="icon-desc">logout</div>
                </div>
              </a>
              </div>
          </nav>
  </header>
  <div class="<%=success.message.length>0?'success':''%>" id="board">
    <p><%=success.message%></p>
  </div>
  <section>
    <div class="window col s12">
      <div class="row">
        <div class="col s12 m12 l12">
          <ul class="collapsible">
            <li class="firstli">
            <div class="user-image-cont firstdiv">
              <a id="showdd" class='dropdown-trigger btn' href='#' data-target='dropdown1'><i class="material-icons">dehaze</i></a>
              <div class="pp user-image-cont">
                <img class="profilePic" src=" <%=img%>"/>
<!--                <img class="profilePic" src=" <%=img%>"/> -->
              </div>
              <div class="text-small">
              <div id="mydetails">
                <p class="myname">
                  <%=user.name%>
                </p>
                <div style="display: flex;">
                  <small class="small-desc">
                  <%=user.desc%></small></div>
                </div>
              </div>
              <div class="upload">
                <button class="open-upload-modal upload z-depth-2">
                  <i class="material-icons">add_a_photo</i>
                </button>
              </div>
            </div>
          </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">person</i>General info</div>
              <div class="collapsible-body">
                <span> 
                  <div id="test1" class="col s12 tchild">
                  <div class="small-title">General info</div>
                  <div class="info">
                    <div class="input-field">
                       <i class="material-icons prefix">account_circle</i>
                          <label for="name" class="active">Name</label>
                      <input id="name" type="text" name="name" value="<%=user.name%>" class="validate" data-length="15" disabled>
                    </div>
                    <div class="ctrl"><button id="nameedit" onclick="Handler(this,'name')">edit</button>
                      <button class="temp" id="namecancel">cancel</button>
                      <button class="temp" id="namedone">save</button></div>
        
                    <div class="input-field">
                      <form method="POST" action="/updatephone" id="phoneForm">
                    <i class="material-icons prefix">phone</i>
                    <label for="phone" class="active">phone</label>
                    <input id="phone" name="phone" value="<%=user.phone%>" type="tel" class="validate" disabled>
                    <small style="display:<%= errors.field === 'phone'? 'block': 'none' %>;margin-left:35px;color:red"><%=errors.message%></small>
                    <input type="hidden" value="<%=csrfToken%>" name="_csrf">   
                  </form>  
                    </div>
                    <div class="ctrl"><button id="phoneedit" onclick="Handler(this,'phone')">edit</button><button class="temp"
                        id="phonecancel">cancel</button><button class="temp" id="phonedone">done</button></div>
        
                    <div class="input-field">
                      <form action = "/updateemail" method="POST" id="emailForm">
                        <input type="hidden" value="<%=csrfToken%>" name="_csrf">   
                        <i class="material-icons prefix">mail</i>
                        <label for="email" class="active">email</label>
                        <input id="email" name="email" type="email" value="<%=user.email%>" disabled>
                        <small style="display:<%= errors.field === 'email'? 'block': 'none' %>;margin-left:35px;color:red"><%=errors.message%></small>
                        <small style="display:<%= user.email.length > 0? 'none': 'block' %>;margin-left:35px">add email for password recovery purpose</small>
                    </form>
                    </div>
                    <div class="ctrl"><button onclick="Handler(this,'email')" id="emailedit">edit</button><button class="temp"
                        id="emailcancel">cancel</button><button class="temp" id="emaildone">done</button></div>
        
                    <div class="input-field">
                       <i class="material-icons prefix">account_circle</i>
                      <textarea id="desc" disabled class="materialize-textarea"><%= user.desc%></textarea>
                      <label for="desc" class="active">About</label>
                    </div>
                    <div class="ctrl"><button onclick="Handler(this,'desc')" id="descedit">edit</button><button class="temp"
                        id="desccancel">cancel</button><button class="temp" id="descdone">done</button></div>
                  </div>
                </div>
        </span></div>
            </li>
            <!--chats collapsible-->
            <li class="active">
              <div class="collapsible-header"><i class="material-icons">chats</i>Chats<span id="badge"></span></div>
              <div class="collapsible-body">
                <span>  <div id="test2" class="col s12 tchild">
                  <%- include('upload-loader.ejs')%>
                  <div class="small-title">Chats <span id="badge"></span></div>
                <ul class="collection">

                  <div class="loading">Loading...</div>
                </ul>
                  <div class="pages"> 
                        <a href="" class="prev">prev</a>
                          <a href="" class="next">next</a>
                  </div>
                </div>

                </span></div>
            </li> 
            <!--links collapsible-->          
             <li>
              <div class="collapsible-header"><i class="material-icons">share</i>Links</div>
              <div class="collapsible-body">
                <span>  <div id="test3" class="col s12 tchild">
                  <div class="small-title">Links</div>
                  <div class="info">
                    <div class="input-field copy">
                       <i class="material-icons prefix">rss_feed</i>
                          <label for="name" class="active">Feeds Link</label>
                          <input id="feeds" type="text">
                      <div class="copy-btn"><button id="copy1">Copy</button></div>
                    </div>
        
                    <div class="input-field">
                    <i class="material-icons prefix">chat_outlined</i>
                      <input value="<%=user.chatShare%>" id="chatlink">
                      <label for="phone" class="active">Chat Link</label>
                      <div class="copy-btn"><button id="copy2">Copy</button></div>
                    </div>
                    <div class="whatsapp-cont">
                      <div class="whatsapp">
                        <div class="icons-whatsapp"><img src="/whatsapp.png"/></div>
                        <a id="wa-share" href=""> Share on whatsapp</a></div>
                      </div>
                      <div>
                        <a href="https://www.facebook.com/sharer/?u=https://sumo-beta.herokuapp.com/sendmsg/<%=user.share%>" target="_blank" class="">
                          <i class="fa fa-facebook-official"></i>
                          Share on Facebook
                        </a> 
                      </div>
                    <div class="notifier"><p>copied!</p></div>
                </div>
              </div>
        

                </span></div>
            </li>
            <!--settings collapsible-->
            <li>
              <div class="collapsible-header"><i class="material-icons">build</i>Settings</div>
              <div class="collapsible-body">
                <span>  <div id="test4" class="col s12 tchild">
                  <div class="small-title">settings</div>
                  <div id="settingspage">
        
                    <div class="anonymous"><div >
                      <p>Go anonymous <i class="material-icons">airplanemode_inactive</i></p></div><%-include('switch.ejs',{isAnonymous:user.isAnonymous})%></div>
                      <form action="/togglemode" id="modetoggler" method="POST">
                        <input type="hidden" value="<%=csrfToken%>" name="_csrf">   
                      </form>        
                    <div class="password open">
                      <button>change password</button></div>
                    <div class="change password form" id="cpf">
                      <form class="form" method="POST" action="/changepassword">
                        <input type="hidden" value="<%=csrfToken%>" name="_csrf">   
                        <input name="uid" type="hidden" value="<%=user._id%>"/>
                        <label>old password</label>
                      <input name="old" type="text"> <br />
                      <small style="display:<%= errors.field === 'old'? 'block': 'none' %>;color:red"><%=errors.message%></small>
                      <label>new password</label>
                      <input name="new" type="text">
                      <small style="display:<%= errors.field === 'new'? 'block': 'none' %>;color:red"><%=errors.message%></small>
                      <div class="changepassbtn"><button>submit</button></div>
                    </form>
                  </div>
                  <div class="divider" style="margin-bottom: 40px"></div>
                    <div class="input-field">
                      <i class="material-icons prefix">chat</i>
                      <input id="chat" type="text" value="<%=user.chatShare
                      %>" disabled>
                      <small id="declined">chat id already taken try another</small>
                      <label for="chat" class="active">chatId</label>
                    </div>
                    <div class="ctrl"><button onclick="Handler(this,'chat')" id="chatedit">edit</button><button class="temp"
                        id="chatcancel">cancel</button><button class="temp" id="chatdone">done</button></div>
        
                        <div class="input-field">
                          <i class="material-icons prefix">airplanemode_inactive</i>
        
                          <input id="anonymous" value="<%=user.anonymousName%>" disabled>
                          <label for="anonymous" class="active">anonymousName</label>
                        </div>
                        <div class="ctrl"><button onclick="Handler(this,'anonymous')" id="anonymousedit">edit</button><button class="temp"
                          id="anonymouscancel">cancel</button><button class="temp" id="anonymousdone">done</button></div>
                    <div class="divider" style="margin: 40px 0"></div>
                    <div class="logout delete"><button>Delete account</button></div>
        
                  </div>
                </div>
              </div>
            </div></span></div>
            </li>
          </ul>
  </section>

  <!--<script src="/js/materialize.min.js"></script>-->
  <script src="/socket.io/socket.io.js"></script>
  <script src="/profile.js"></script>
  <script>
   $('#shareBtn').on('click', () => {
  FB.ui({
    method: 'share',
    link: 'https://sumo-beta.herokuapp.com',
  }, (response) => {
    if (response && !response.error_code) {
      if (typeof response !== 'undefined') {
        alert('success')
      }
    } else {
  alert('here')
    }
  });
}); 
  </script>
  <%-include('profileScript.ejs') %>
  
</body>
  </html>
