<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="An interactive for receiving anonymous complements, engage in open and private conversations" />
    <meta property="og:image" content="http://sumo-beta.herokuapp.com/fb.jpg" />
    <title>Message <%=name%></title>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet"/>
    <link href="/css/materialize.min.css" rel="stylesheet"/>
    <link href="/emoji.css" rel="stylesheet"/>
    <link href="/inputs-color.css" rel="stylesheet"/>
  <link href="/anonyreply.css" rel="stylesheet" type="text/css" />
</head>
  <body>
    <header>
      <nav>
        <div>
          <h2>SUMO</h2>
          <a href="/" class="home"><i class="material-icons">home</i></a>
        </div>
        </nav>
      </header>
    <section>
     <section>
      <div class="form-body">
          <form action="/feed/<%=fid%>" method="POST">
            <input type="hidden" value="<%=csrfToken%>" name="_csrf">
            <div id="ccf"><p>Message <%=name%>'s channel</p></div>
            <div class="row">
              <div class="button wrap smiley"><button type="button"><i class="material-icons">insert_emoticon</i></button></div>
                  <div class="input-field col s12">
                    <textarea id="msg" name="message" class="materialize-textarea" placeholder="enter message"></textarea>                 
                   </div>
                  <div class="button wrap"><button type="submit"><i class="material-icons">send</i></button></div>
            </div>
        <div class="emoji-container"> <%- include('emoji.ejs') %></div>
             <div>
              </div>
            </form>
            <div>
            </div>

      </div></section>
    </section>
    <script src="/js/materialize.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
      const showSmiley = document.querySelector('.smiley button');
      showSmiley.addEventListener('click',()=>{
        document.querySelector('.emoticons').style.display = 'block'
      })
      const inputArea = document.querySelector('textarea')
      inputArea.addEventListener('focus',()=>{
        document.querySelector('.emoticons').style.display = 'none'
      })
    </script>
  </body></html>
