  <ul id="slide-out" class="sidenav">
    <li>
      <div class="user-view">
      <div class="background">
      </div>
      <img src="<%=img%>" class="circle">
      <a href="#name"><span class="white-text name"><%=name%></span></a>
      <a href="#email"><span class="white-text email"><%=email%></span></a>
    </div>
  </li>
  <div class="input-field join">
  <div class="controls">
    <button class="s">Chats</button>
    <button>Requests <span class="circle-badge smally">0</span></button>
    <button class="s">Search</button></div>
  <div class="addById current">
  <input type="text" placeholder="enter chat id" id="chatString"/>
  <div class="join-btn"><button id="startchat">add</button>
    <small class="errdisplay"></small>
  </div>
</div>

<div class="searchcontrols">
  <input type="text" placeholder="enter name" id="searchString"/>
  <div class="join-btn">
    <button id="startsearchsmall">search</button>
    <small class="errdisplay"></small>
</div>
</div>

</div>
<ul class="search collection" style="display:none">
  <div><h2>Result</h2></div>
  <div class="search-loader">
  <%- include('loader.ejs') %> 
</div>
  <div class="searchResult">
  </div>
</ul>
<ul class="requests collection">
  <div><h2>Requests</h2></div>
  <div class="requests-loader">
  <%- include('loader.ejs') %></div>
<div class="palsRequest">
</div>
</ul>
    <div class="chats current">
          <div><h2>Chats</h2></div>
          <div class="chats-loader">
          <%- include('loader.ejs') %>
          </div>
         <ul class="userChats collection" id="userChatsSmall">
          </ul> 
          <div class="pages">
            <ul>
            </ul>
          </div>
    </div>
  </ul>